/*------------------------------------*\
  #COLORS
\*------------------------------------*/
/*------------------------------------*\
  #TYPOGRAPHY
\*------------------------------------*/
/*------------------------------------*\
  #MEDIA-QUERIES
\*------------------------------------*/
/*------------------------------------*\
  #REPEATED-STYLES
\*------------------------------------*/
/*------------------------------------*\
  #EM-CONVERSION
\*------------------------------------*/
/*------------------------------------*\
  #MEDIA-QUERY
\*------------------------------------*/
/*------------------------------------*\
  #VISUALLY-HIDDEN
\*------------------------------------*/
/* clearfix to self clear */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.clearfix {
  display: inline-block; }

/* start commented backslash hack \*/
* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

/* close commented backslash hack */
/*------------------------------------*\
  #TITLES
\*------------------------------------*/
.entry-title {
  font-size: 42px;
  line-height: 1;
  margin-bottom: 20px; }

.entry-title a,
.sidebar .widget-title a {
  color: #222222; }

.entry-title a:hover,
.footer-widgets .entry-title a:hover {
  color: #4db2ec;
  text-decoration: none; }

.archive-title,
.widget-title {
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 20px; }

.footer-widgets .entry-title,
.sidebar .entry-title {
  font-size: 16px; }

.home-cta .widget-title {
  font-size: 24px;
  margin-bottom: 6px;
  text-transform: none; }

.home-cta .entry-title a,
.home-cta .widget-title,
.footer-widgets .entry-title a,
.footer-widgets .widget-title {
  color: #ffffff; }

/*------------------------------------*\
  #HOMEPAGE
\*------------------------------------*/
.home-middle {
  padding: 0 30px 0; }

.home-bottom,
.home-middle {
  background-color: #ffffff;
  clear: both;
  overflow: hidden; }

.home-bottom {
  padding: 60px 30px 0; }

@media (min-width: 50em) {
  .home-bottom .widget,
  .home-middle .widget {
    float: left;
    padding: 0 2.8%;
    width: 33.33333333333%; } }

.home-bottom .widget:nth-of-type(3n+1),
.home-middle .widget:nth-of-type(3n+1) {
  clear: left; }

.america-home a.more-link {
  clear: both;
  display: block;
  margin: 30px 0 0; }

.america-home .home-cta {
  background-color: #222222;
  color: #f5f5f5;
  float: left;
  padding: 60px;
  width: 100%; }

.america-home .home-cta p {
  color: #f5f5f5; }

.home-cta .button {
  display: inline-block;
  float: none;
  margin: 16px 0 0;
  text-align: center; }
  @media (min-width: 50em) {
    .home-cta .button {
      float: right;
      margin-top: -30px; } }

.one-third-home {
  float: left;
  width: 31%;
  margin-right: 15px;
  margin-bottom: 20px; }

.home-post-thumb {
  float: left;
  width: 150px;
  margin-right: 10px; }

.home-post-data h6 {
  margin: 0;
  padding: 0; }

.blurb {
  font-size: 10px !important; }

/*------------------------------------*\
  #FEATURED-PUBLICATIONS
\*------------------------------------*/
.features {
  padding: 30px 0 0;
  overflow: hidden; }

.feature-primary {
  width: 100%; }
  @media (min-width: 50em) {
    .feature-primary {
      float: left;
      padding: 0 2.5% 0 0;
      width: 65.7%; } }

.feature-secondary {
  display: none;
  visibility: hidden; }
  @media (min-width: 50em) {
    .feature-secondary {
      float: right;
      padding: 0 0 0 2.5%;
      visibility: visible;
      width: 34%; } }

.feature-primary,
.feature-secondary {
  overflow: hidden;
  position: relative; }
  @media (min-width: 50em) {
    .feature-primary,
    .feature-secondary {
      display: inline-block; } }

.features img {
  min-width: 100%; }

.features h2 {
  margin-bottom: 10px; }

/*.feature-primary-image-container:before {
    bottom: 1.75em;
    font-size: 35px;
    width: 720px;
}

.feature-secondary-image-container:before {
    bottom: 1.75em;
    font-size: 36px;
    width: 359px;
}

// TODO: This needs to be more general so that it can be applied to images at
// will by just add class, ideally
.archive .archive-description:before,
.feature-primary-image-container:before,
.feature-secondary-image-container:before {
    content: "";
    display: block;
    height: 50%;
    position: absolute;
    z-index: 0;
    background: -moz-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.85) 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(0,0,0,0)),color-stop(100%,rgba(0,0,0,.85)));
    background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.85) 100%);
    background: -o-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.85) 100%);
    background: -ms-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.85) 100%);
    background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.85) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#b3000000', GradientType=0);
}*/
.feature-primary-headline,
.feature-secondary-headline {
  bottom: 80px;
  left: 10px;
  position: relative; }

.feature-primary-headline {
  font-size: 7vw; }
  @media (min-width: 25em) {
    .feature-primary-headline {
      font-size: 6.5vw; } }
  @media (min-width: 50em) {
    .feature-primary-headline {
      font-size: 27px; } }
  @media (min-width: 64em) {
    .feature-primary-headline {
      font-size: 36px; } }

.feature-secondary-headline {
  font-size: 20px; }
  @media (min-width: 64em) {
    .feature-secondary-headline {
      font-size: 23px; } }
  @media (min-width: 75em) {
    .feature-secondary-headline {
      font-size: 30px; } }

.homepage-subject-header {
  border-bottom: 1px solid #ebebeb;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: -10px 0 30px 0;
  padding: 0 15px 10px; }
  @media (min-width: 25em) {
    .homepage-subject-header {
      padding: 0 30px 10px; } }

.category-header {
  margin-bottom: 0;
  padding-bottom: 0;
  float: left; }

.category-header-more {
  float: right;
  margin-top: 2.5em; }

.home-category-header {
  border-bottom: solid 1px #222222;
  margin-bottom: 2em; }

/*------------------------------------*\
  #FEATURED-POST
\*------------------------------------*/
.featuredpost .widget-title {
  display: inline-block; }

.featuredpost .more-from-category {
  display: inline-block;
  float: right; }

.featuredpost .more-from-category-mobile {
  clear: both;
  display: none;
  visibility: hidden; }

.featuredpost .more-from-category-mobile a,
.featuredpost .more-from-category a {
  color: #222222; }

.featuredpost .more-from-category-mobile a:after,
.featuredpost .more-from-category a:after {
  content: '\00BB';
  display: inline-block;
  padding-left: 5px; }

.home-bottom .widget.featuredpost,
.home-middle .widget.featuredpost {
  padding: 0;
  width: 100%; }

/*------------------------------------*\
  #PUBLICATIONS-SEARCH-RESULTS
\*------------------------------------*/
.search-results .content {
  padding: 0; }

.search-results article {
  font-size: .875em;
  line-height: 1.4;
  display: inline-block;
  margin: 0 10px 0 0; }

.search-results .entry-title {
  font-size: 1.125em;
  padding: 0;
  margin: 0 0 8px; }

/*------------------------------------*\
  #PUBLICATIONS-SEARCH
\*------------------------------------*/
.resources-search {
  border: 1px solid #ebebeb;
  border-top: 0; }

.resources-search .widget-wrap {
  background-color: #f5f5f5;
  margin: 0 1px 1px;
  padding: 20px 10px; }
  @media (min-width: 50em) {
    .resources-search .widget-wrap {
      padding: 20px; } }

.resources-search input[type="search"] {
  float: left;
  background-color: #ffffff;
  border: 1px solid gainsboro;
  border-radius: 0;
  box-shadow: none;
  line-height: 1;
  margin: 0 2vw 5px 0;
  padding: 10px;
  width: 65vw; }
  @media (min-width: 50em) {
    .resources-search input[type="search"] {
      margin-right: 1%;
      width: 40%; } }

.resources-search .select-holder {
  display: none;
  visibility: hidden; }
  @media (min-width: 50em) {
    .resources-search .select-holder {
      background: #ffffff url(images/dist/icon-select-arrow.png) 90% 50% no-repeat;
      display: block;
      float: left;
      margin-right: 1%;
      overflow: hidden;
      visibility: visible; } }

.resources-search .select-holder.category,
.resources-search .select-holder.type {
  width: 20%; }

.resources-search .select-holder select {
  background: transparent;
  background-image: none;
  border: 1px solid gainsboro;
  border-radius: 0;
  box-shadow: none;
  line-height: 1em;
  padding: 12px;
  -webkit-appearance: none; }

.resources-search .select-holder select:focus {
  outline: none; }

.resources-search .searchsubmit {
  border-radius: 5px;
  font-size: 16px;
  background-color: #80a3bc;
  margin-right: 0;
  padding: 10px;
  width: auto; }
  @media (min-width: 50em) {
    .resources-search .searchsubmit {
      padding: 10px 30px;
      width: 17%; } }

.resources-search .searchsubmit:hover {
  background-color: #80a3bc; }

.resources-search ::-webkit-input-placeholder {
  padding-top: 2px;
  color: #222222; }

.resources-search :-moz-placeholder {
  /* Firefox 18- */
  color: #222222; }

.resources-search ::-moz-placeholder {
  /* Firefox 19+ */
  color: #222222; }

.resources-search :-ms-input-placeholder {
  color: #222222; }

/*------------------------------------*\
  #SINGLE-PUBLICATION
\*------------------------------------*/
/**
  * Basic publication content.
  */
.single-publication .publication-featured-image {
  float: left;
  margin: 0 0 1em 0; }

.entry-title {
  font-size: 30px;
  line-height: 1.25em; }

.single-publication .entry-content {
  overflow: hidden; }

/**
  * Downloads box.
  */
.downloads {
  clear: both;
  margin: 1em 0 2em; }

.downloads-title {
  border-bottom: 1px solid #222222;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 22px;
  letter-spacing: 1px; }

.downloads p {
  margin: 0; }

.downloads-file.mobi:after,
.downloads-file.epub:after,
.downloads-file.pdf:after {
  color: #222222;
  cursor: default;
  display: inline-block;
  padding-left: 5px; }

.downloads-file.mobi:after {
  content: "(MOBI)"; }

.downloads-file.epub:after {
  content: "(EPUB)"; }

.downloads-file.pdf:after {
  content: "(PDF)"; }

/**
  * Icons. All of them in the single publication.
  */
.downloads-title:after,
.entry-publication-type:before,
.entry-categories:before,
.entry-tags:before {
  content: "\f323";
  display: inline-block;
  font: normal 16px/1 'dashicons';
  vertical-align: middle; }

.entry-categories:before {
  content: "\f318"; }

.entry-publication-type:before {
  content: "\f330"; }

.downloads-title:after {
  content: "\f316";
  padding-left: 5px; }

.downloads-file.epub {
  background: url(images/dist/epub.min.svg) center left no-repeat; }

.downloads-file.mobi {
  background: url(images/dist/mobi.min.svg) center left no-repeat; }

.downloads-file.pdf {
  background: url(images/dist/pdf.min.svg) center left no-repeat; }

.downloads-file.mobi,
.downloads-file.epub,
.downloads-file.pdf {
  background-size: 15px 20px;
  padding: 5px 0 5px 23px; }

/* Related publications area for Pubs single template */
.pubs-related {
  padding-left: 2em; }

.pubs-related h4 {
  padding-top: 0;
  margin-top: 0;
  font-size: 15px; }

/* Modifications to default Genesis breadcrumb code */
.breadcrumb {
  background-color: #fff;
  margin-top: 20px; }

/* Modifications to default Genesis entry output for publications */
.archive .entry {
  float: left;
  width: 31%;
  margin-right: 15px;
  margin-bottom: 20px; }

.archive .entry-title {
  font-size: 1em;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 0;
  padding-bottom: 0; }

.archive .entry-content {
  margin-bottom: 15px; }

.archive .entry-content img {
  width: 150px; }

.archive .entry-content p {
  font-size: .9em;
  line-height: 1.3em; }

.archive article {
  float: left; }

.archive-header {
  border-bottom: solid 1px #222222;
  padding-bottom: 0;
  margin-bottom: 1.5em; }

.pub-type-filter {
  font-size: .5em;
  font-weight: normal;
  padding-left: 20px; }

.home-top h4 {
  font-size: 2em;
  border-bottom: solid 1px #222222;
  padding-bottom: 0;
  margin-bottom: 2.5em;
  overflow: hidden; }

.widget-wrap article:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.widget-wrap article {
  display: inline-block; }

/* start commented backslash hack \*/
* html .widget-wrap article {
  height: 1%; }

.widget-wrap article {
  display: block;
  float: left;
  width: 31%;
  margin-right: 15px;
  margin-bottom: 20px; }

/* close commented backslash hack */
.home-top article img {
  width: 150px; }

.home-top h3 {
  font-size: 1em; }

.home-top .entry-title {
  float: left;
  display: inline-block;
  z-index: 10;
  font-size: 1em;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 0;
  padding-bottom: 0; }

.home-top .entry-content p {
  float: left;
  display: inline-block;
  z-index: 10;
  font-size: .9em;
  line-height: 1.3em; }

/*------------------------------------*\
  #SITE-NAVIGATION
\*------------------------------------*/
.genesis-nav-menu {
  background-color: #ffffff;
  clear: both;
  color: #222222;
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%; }

.genesis-nav-menu .menu-item {
  display: inline-block;
  margin: 0;
  padding: 0;
  text-align: left; }

.genesis-nav-menu a {
  color: #222222;
  display: block;
  padding: 16px 20px;
  position: relative; }

.genesis-nav-menu li:hover,
.genesis-nav-menu a:hover {
  background-color: #ffffff;
  color: #222222;
  text-decoration: none; }

.genesis-nav-menu .current-menu-item > a {
  background-color: #4db2ec;
  color: #ffffff; }

.genesis-nav-menu .menu-item-has-children > a:after {
  content: '\f140';
  display: inline-block;
  font: normal 20px/1 'dashicons';
  height: 20px;
  position: relative;
  top: 5px;
  width: 20px; }

.genesis-nav-menu .sub-menu {
  left: -9999px;
  margin: 0;
  opacity: 0;
  padding: 0;
  position: absolute;
  -webkit-transition: opacity .4s ease-in-out;
  -moz-transition: opacity .4s ease-in-out;
  -ms-transition: opacity .4s ease-in-out;
  -o-transition: opacity .4s ease-in-out;
  transition: opacity .4s ease-in-out;
  width: 155px;
  z-index: 999; }

.genesis-nav-menu .sub-menu a {
  background-color: #ffffff;
  border: 1px solid #ebebeb;
  border-top: none;
  color: #222222;
  padding: 10px 18px;
  position: relative;
  width: 155px; }

.genesis-nav-menu .sub-menu a:hover {
  background-color: #f5f5f5;
  color: #222222; }

.genesis-nav-menu .sub-menu .sub-menu {
  margin: -40px 0 0 147px; }

.sub-menu .current-menu-item > a {
  border: 0; }

.genesis-nav-menu .menu-item:hover {
  position: static; }

.genesis-nav-menu .menu-item:hover > .sub-menu {
  left: auto;
  opacity: 1; }

.genesis-nav-menu > .first > a {
  padding-left: 0; }

.genesis-nav-menu > .last > a {
  padding-right: 0; }

.genesis-nav-menu > .right {
  display: inline-block;
  float: right;
  list-style-type: none;
  padding: 16px 20px; }

.genesis-nav-menu > .right > a {
  display: inline;
  padding: 0; }

.genesis-nav-menu > .rss > a {
  background: url(images/icon-rss.png) no-repeat left;
  background-size: 12px 12px;
  margin-left: 12px;
  padding-left: 16px; }

.genesis-nav-menu > .twitter > a {
  background: url(images/icon-twitter-nav.png) no-repeat left;
  background-size: 16px 16px;
  padding-left: 20px; }

.genesis-nav-menu > .search {
  padding: 0; }

.genesis-nav-menu .search-form {
  width: 100%; }

/**
  * Responsive Navigation
  */
.responsive-menu-icon::before {
  content: "\f333";
  display: block;
  font: normal 25px/2em 'dashicons';
  font: normal 7.5vw/2em 'dashicons';
  margin: 0 auto;
  padding: 0 3px;
  text-align: right; }

@media (min-width: 25em) {
  .responsive-menu-icon::before {
    font: normal 6vw/2em 'dashicons'; } }
.responsive-menu-icon {
  background-color: #ffffff;
  cursor: pointer; }

@media (min-width: 50em) {
  .responsive-menu-icon {
    display: none; } }
.genesis-nav-menu.responsive-menu {
  background-color: transparent;
  float: left;
  width: 100%; }

.genesis-nav-menu.responsive-menu > .menu-item > .sub-menu,
.genesis-nav-menu.responsive-menu {
  display: none; }

.genesis-nav-menu.responsive-menu .menu-item {
  display: block; }

.genesis-nav-menu.responsive-menu .menu-item:hover {
  position: static; }

.genesis-nav-menu.responsive-menu .menu-item-has-children {
  cursor: pointer; }

.genesis-nav-menu.responsive-menu .menu-item-has-children > a {
  margin-right: 60px; }

.genesis-nav-menu.responsive-menu > .menu-item-has-children:before {
  content: "\f140";
  float: right;
  font: normal 20px/1 'dashicons';
  height: 20px;
  padding: 12px 20px;
  right: 0;
  text-align: right;
  z-index: 9999; }

.genesis-nav-menu.responsive-menu .menu-open.menu-item-has-children:before {
  content: "\f142"; }

.genesis-nav-menu.responsive-menu .sub-menu {
  background-color: #2b2b2b;
  border: none;
  left: auto;
  opacity: 1;
  padding-left: 20px;
  position: relative;
  width: 100%;
  z-index: 99; }

.genesis-nav-menu.responsive-menu .sub-menu .sub-menu {
  margin: 0; }

.genesis-nav-menu.responsive-menu a,
.genesis-nav-menu.responsive-menu li,
.genesis-nav-menu.responsive-menu a:hover,
.genesis-nav-menu.responsive-menu li:hover {
  color: #f5f5f5;
  background: transparent;
  border: 0;
  display: block;
  line-height: 1em;
  padding: 16px;
  position: relative;
  text-transform: none;
  width: 100%; }

.genesis-nav-menu.responsive-menu li,
.genesis-nav-menu.responsive-menu li:hover {
  padding: 0; }

.genesis-nav-menu.responsive-menu .menu-item-has-children > a:after {
  content: '';
  display: none; }

.genesis-nav-menu.responsive-menu .sub-menu .current-menu-item > a {
  background: none; }

/**
  * Secondary navigation. // TODO: Do we need this?
  */
.nav-secondary .genesis-nav-menu li:hover,
.nav-secondary .genesis-nav-menu a:hover,
.nav-secondary .genesis-nav-menu li.current-menu-item a:hover {
  background-color: transparent;
  color: #222222; }

.nav-secondary .genesis-nav-menu .current-menu-item > a {
  background-color: transparent;
  color: #4db2ec; }

/*------------------------------------*\
  #SITE-FOOTER
\*------------------------------------*/
.site-footer {
  background: #222222;
  color: #ffffff;
  font-size: 12px;
  line-height: 1.6em;
  text-align: left; }

.footer-contact {
  font-size: 1.5em;
  text-align: center;
  padding-top: 2em; }

.site-footer a {
  color: #4db2ec; }

.site-footer-legal {
  background: #222222 url(images/dist/shareamerica-flag.png) no-repeat 1em 16px;
  margin: 0;
  padding: 1em 5em; }

/*# sourceMappingURL=style.css.map */
