@import '../../styles/variables';
@import '../../styles/mixins';
@import '../../styles/utilities';




/*------------------------------------*\
  #TITLES
\*------------------------------------*/


.entry-title {
  font-size: 42px;
  line-height: 1;
  margin-bottom: 20px;
}

.entry-title a,
.sidebar .widget-title a {
  color: $black;
}

.entry-title a:hover,
.footer-widgets .entry-title a:hover {
  color: $body-link;
  text-decoration: none;
}

.archive-title,
.widget-title {
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-widgets .entry-title,
.sidebar .entry-title {
  font-size: 16px;
}

.home-cta .widget-title {
  font-size: 24px;
  margin-bottom: 6px;
  text-transform: none;
}

.home-cta .entry-title a,
.home-cta .widget-title,
.footer-widgets .entry-title a,
.footer-widgets .widget-title {
  color: $white;
}




/*------------------------------------*\
  #HOMEPAGE
\*------------------------------------*/


.home-middle {
  padding: 0 30px 0;
}

.home-bottom,
.home-middle {
  background-color: $white;
  clear: both;
  overflow: hidden;
}

.home-bottom {
  padding: 60px 30px 0;
}

.home-bottom .widget,
.home-middle .widget {

  @include bp($tablet) {
    float: left;
    padding: 0 2.8%;
    width: 33.33333333333%;
  }
}

.home-bottom .widget:nth-of-type(3n+1),
.home-middle .widget:nth-of-type(3n+1) {
  clear: left;
}

.america-home a.more-link {
  clear: both;
  display: block;
  margin: 30px 0 0;
}

.america-home .home-cta {
  background-color: $black;
  color: $gray;
  float: left;
  padding: 60px;
  width: 100%
}

.america-home .home-cta p {
  color: $gray;
}

.home-cta .button {
  display: inline-block;
  float: none;
  margin: 16px 0 0;
  text-align: center;

  @include bp($tablet) {
    float: right;
    margin-top: -30px;
  }
}

// Custom homepage layout

.one-third-home {
  float: left;
  width: 31%;
  margin-right: 15px;
  margin-bottom: 20px;
}

.home-post-thumb {
  float: left;
  width: 150px;
  margin-right: 10px;
}

.home-post-data h6 {
  margin: 0;
  padding: 0;
}

.blurb {
  font-size: 10px !important;
}



// TODO: This is not flexible enough

/*------------------------------------*\
  #FEATURED-PUBLICATIONS
\*------------------------------------*/


.features {
  padding: 30px 0 0;
  overflow: hidden;
}

.feature-primary {
  width: 100%;

  @include bp($tablet) {
    float: left;
    padding: 0 2.5% 0 0;
    width: 65.7%;
  }
}

.feature-secondary {
  display: none;
  visibility: hidden;

  @include bp($tablet) {
    float: right;
    padding: 0 0 0 2.5%;
    visibility: visible;
    width: 34%;
  }
}

.feature-primary,
.feature-secondary {
  overflow: hidden;
  position: relative;

  @include bp($tablet) {
    display: inline-block;
  }
}

.features img {
  min-width: 100%;
}

.features h2 {
  margin-bottom: 10px;
}

/*.feature-primary-image-container:before {
    bottom: 1.75em;
    font-size: 35px;
    width: 720px;
}

.feature-secondary-image-container:before {
    bottom: 1.75em;
    font-size: 36px;
    width: 359px;
}

// TODO: This needs to be more general so that it can be applied to images at
// will by just add class, ideally
.archive .archive-description:before,
.feature-primary-image-container:before,
.feature-secondary-image-container:before {
    content: "";
    display: block;
    height: 50%;
    position: absolute;
    z-index: 0;
    background: -moz-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.85) 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(0,0,0,0)),color-stop(100%,rgba(0,0,0,.85)));
    background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.85) 100%);
    background: -o-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.85) 100%);
    background: -ms-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.85) 100%);
    background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.85) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#b3000000', GradientType=0);
}*/


.feature-primary-headline,
.feature-secondary-headline {
  bottom: 80px;
  left: 10px;
  position: relative;
}

.feature-primary-headline {
  font-size: 7vw;

  @include bp($big-mobile) {
    font-size: 6.5vw;
  }

  @include bp($tablet) {
    font-size: 27px;
  }

  @include bp($laptop) {
    font-size: 36px;
  }
}

.feature-secondary-headline {
  font-size: 20px;

  @include bp($laptop) {
    font-size: 23px;
  }

  @include bp($desktop) {
    font-size: 30px;
  }
}

.homepage-subject-header {
  border-bottom: $border;
  font-family: $body-font;
  margin: -10px 0 30px 0;
  padding: 0 15px 10px;

  @include bp($big-mobile) {
    padding: 0 30px 10px;
  }
}

.category-header {
  margin-bottom: 0;
  padding-bottom: 0;
  float: left;
}

.category-header-more {
  float: right;
  margin-top: 2.5em;
}

.home-category-header {
  border-bottom: solid 1px $black;
  margin-bottom: 2em;
}




// TODO: This is very focused on how the publications should appear on the
// homepage of the Publication's site. The widget should be refactored and
// allow the web producers to configure the posts should display.

/*------------------------------------*\
  #FEATURED-POST
\*------------------------------------*/


.featuredpost .widget-title {
  display: inline-block;
}

.featuredpost .more-from-category {
  display: inline-block;
  float: right;
}

.featuredpost .more-from-category-mobile {
  clear: both;
  display: none;
  visibility: hidden;
}

.featuredpost .more-from-category-mobile a,
.featuredpost .more-from-category a {
  color: $black;
}

.featuredpost .more-from-category-mobile a:after,
.featuredpost .more-from-category a:after {
  content: '\00BB';
  display: inline-block;
  padding-left: 5px;
}

.home-bottom .widget.featuredpost,
.home-middle .widget.featuredpost {
  padding: 0;
  width: 100%;
}




/*------------------------------------*\
  #PUBLICATIONS-SEARCH
\*------------------------------------*/


.resources-search {
  border: $border;
  border-top: 0;
}

.resources-search .widget-wrap {
  background-color: $gray;
  margin: 0 1px 1px;
  padding: 20px 10px;

  @include bp($tablet) {
    padding: 20px;
  }
}

.resources-search input[type="search"] {
  float:left;
  background-color: $white;
  border: 1px solid darken($gray, 10);
  border-radius: 0;
  box-shadow: none;
  line-height: 1;
  margin: 0 2vw 5px 0;
  padding: 10px;
  width: 65vw;

  @include bp($tablet) {
    margin-right: 1%;
    width: 40%;
  }
}

.resources-search .select-holder {
  display: none;
  visibility: hidden;

  @include bp($tablet) {
    background: $white url(images/dist/icon-select-arrow.png) 90% 50% no-repeat;
    display: block;
    float: left;
    margin-right: 1%;
    overflow: hidden;
    visibility: visible;
  }
}

.resources-search .select-holder.category,
.resources-search .select-holder.type {
  width: 20%;
}

.resources-search .select-holder select {
  background: transparent;
  background-image: none;
  border: 1px solid darken($gray, 10);
  border-radius: 0;
  box-shadow: none;
  line-height: 1em;
  padding: 12px;
  -webkit-appearance: none;
}

.resources-search .select-holder select:focus {
  outline: none;
}

.resources-search .searchsubmit {
  border-radius: 5px;
  font-size: 16px;
  background-color: $america-blue;
  margin-right: 0;
  padding: 10px;
  width: auto;

  @include bp($tablet) {
    padding: 10px 30px;
    width: 17%;
  }
}

.resources-search .searchsubmit:hover {
  background-color: $america-blue;
}

.resources-search ::-webkit-input-placeholder {
  padding-top: 2px;
  color: $black;
}

.resources-search :-moz-placeholder { /* Firefox 18- */
  color: $black;
}

.resources-search ::-moz-placeholder {  /* Firefox 19+ */
  color: $black;
}

.resources-search :-ms-input-placeholder {
  color: $black;
}




/*------------------------------------*\
  #SINGLE-PUBLICATION
\*------------------------------------*/


/**
  * Basic publication content.
  */

.single-publication .publication-featured-image {
    float: left;
    margin: 0 0 1em 0;
}

.entry-title {
  font-size: 30px;
  line-height: 1.25em;
}

.single-publication .entry-content {
    overflow: hidden;
}


/**
  * Downloads box.
  */

.downloads {
  clear: both;
  margin: 1em 0 2em;
}

// TODO: Standardize with ShareAmerica
.downloads-title {
  border-bottom: 1px solid $black;
  font-family: $body-font;
  font-size: 22px;
  letter-spacing: 1px;
}

.downloads p {
  margin: 0;
}

.downloads-file.mobi:after,
.downloads-file.epub:after,
.downloads-file.pdf:after {
  color: $black;
  cursor: default;
  display: inline-block;
  padding-left: 5px;
}


.downloads-file.mobi:after {
  content: "(MOBI)";
}

.downloads-file.epub:after {
  content: "(EPUB)";
}

.downloads-file.pdf:after {
  content: "(PDF)";
}


/**
  * Icons. All of them in the single publication.
  */

.downloads-title:after,
.entry-publication-type:before,
.entry-categories:before,
.entry-tags:before {
  content: "\f323";;
  display: inline-block;
  font: normal 16px/1 'dashicons';
  vertical-align: middle;
}

.entry-categories:before {
  content: "\f318";
}

.entry-publication-type:before {
  content: "\f330";
}

.downloads-title:after {
  content: "\f316";
  padding-left: 5px;
}

.downloads-file.epub {
  background: url(images/dist/epub.min.svg) center left no-repeat;
}

.downloads-file.mobi {
  background: url(images/dist/mobi.min.svg) center left no-repeat;
}

.downloads-file.pdf {
  background: url(images/dist/pdf.min.svg) center left no-repeat;
}

.downloads-file.mobi,
.downloads-file.epub,
.downloads-file.pdf {
  background-size: 15px 20px;
  padding: 5px 0 5px 23px;
}

/* Modifications to default Genesis breadcrumb code */
.breadcrumb {
  background-color: #fff;
  margin-top: 20px;
}
