@import '../styles/variables';
@import '../styles/mixins';

$red:             #951b21;
$blue:            #3f6b85;
$light-gray:      #f1f3f1;




/*------------------------------------*\
  #General
\*------------------------------------*/


.site-container {
  margin: 0 10px;

  @include bp(645px) {
    margin: 0 auto;
  }
}

.content {
  padding: 0;
}

.more-link {
  margin-top: 1em;
}


/*------------------------------------*\
  #Site-Title
\*------------------------------------*/


.site-title {
  background-image: url(images/whisper-in-ear-3084.jpg);
  background-position: 0 0;
  background-size: cover;
  height: 3em;
  padding: 0;

  @include bp($big-mobile) {
    height: 4em;
  }

  @include bp($tablet) {
    font-size: 50px;
  }
}

.america .site-title a,
.america .site-title a:hover {
  background-color: $black;
  color: $white;
  display: inline-block;
  letter-spacing: 2px;
  line-height: 1em;
  margin-top: em(20, 24);
  padding: 5px 10px;
  text-align: center;
  text-transform: uppercase;

  @include bp($big-mobile) {
    margin-left: 50px;
    text-align: left;
    width: 80%;
  }
}

.genesis-nav-menu.responsive-menu a,
.genesis-nav-menu.responsive-menu li,
.genesis-nav-menu.responsive-menu a:hover,
.genesis-nav-menu.responsive-menu li:hover {
  color: $black;
}




/*------------------------------------*\
  #Primary-Navigation
\*------------------------------------*/


.nav-primary {
  border-bottom: 1px solid $border-color;
  margin-bottom: 2em;
}



/*------------------------------------*\
  #Featured-Content
\*------------------------------------*/


.entry-title {
  margin-bottom: 0.25em;
}

.home .featured-content .entry {
    float: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.featured-content .entry-title,
.single-post .entry-title {
    font-size: 36px;
    font-weight: 400;
    margin-top: 0;
    text-transform: none;
}

.featured-content .entry-header .entry-meta,
.single-post .entry-header .entry-meta {
    background: transparent;
    color: $dark-gray;
    font-size: em(14);
    letter-spacing: 1px;
    line-height: em(20, 14);
    margin: 0 0 20px 0;
    max-width: none;
    overflow: auto;
    padding: 0;
    text-transform: uppercase;
}

.featured-content .entry-categories,
.single-post .entry-categories {
    display: inline-block;
}

.featured-content .entry-author,
.featured-content .entry-comments-link,
.featured-content .entry-time,
.single-post .entry-time {
    margin-right: 1em;
}

.featured-content .entry-categories:before,
.featured-content .entry-time:before,
.single-post .entry-time:before,
.single-post .entry-categories:before {
    color: $dark-gray;
    display: inline-block;
    font: normal 18px/1 'dashicons';
    margin-right: 5px;
    vertical-align: top;
    -webkit-font-smoothing: antialiased;
}

.featured-content .entry-time:before,
.single-post .entry-time:before {
    content: '\f469';
}

.featured-content .entry-categories:before,
.single-post .entry-categories:before {
    content: '\f318';
}

.featured-content .entry-content img {
    width: 100%;
}

.featuredpost .widget-title {
    display: block;
}

.widget-title {
  background-color: $light-gray;
  color: $black;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 0 0 15px;
  padding: 5px 15px;
  text-transform: uppercase;
}

.home-top,
.home-middle,
.home-bottom {
    padding: 0;
}

.home-middle .featuredpost .entry {
	  float: left;
    width: 100%;

    @include bp($tablet) {
      width: em(364);
    }

    @include bp($laptop) {
      width: em(310);
    }

    @include bp($desktop) {
      width: em(380);
    }
}

.home-middle .featured-content .entry:nth-of-type(2n+1) {
    clear: left;
    margin-right: 40px;
}





/*------------------------------------*\
  #ENTRY-FOOTER
\*------------------------------------*/


.entry-footer .entry-tags {
  background: none;
  margin-left: 0;
  padding-left: 0;
}




/*------------------------------------*\
  #Sidebar-Widget
\*------------------------------------*/


a.alignleft img {
  margin: 0 10px 20px 0;
}

.sidebar .widget {
    margin-bottom: 30px;
    padding: 0;
}

.sidebar .widget-title {
  background-color: $red;
  color: $white;
}

.search-form input[type="search"],
.sidebar input {
  background: $light-gray;
  color: $black;
  font-size: 1em;
  text-transform: none;
}

.sidebar .featuredpost .entry {
  border-bottom: 1px dotted $border-color;
  clear: none;
  margin-bottom: 30px;
  overflow: visible;
  padding: 0;
  width: 100%;
}

.sidebar .featuredpost .entry-title {
  font-size: 20px;
}

.sidebar .featured-content img {
  width: 100px;
}




/*------------------------------------*\
  #Twitter-Widget
\*------------------------------------*/


#twitter-widget-0 {
  margin: 0 auto !important;
  width: 100% !important;
}




/*------------------------------------*\
  #MAILCHIMP
\*------------------------------------*/


.mc4wp-form input[type="submit"] {
  color: $white;
  background-color: $blue;
  border-radius: 0;
  text-transform: uppercase;
  width: 100%;
}
