@import '../styles/variables';
@import '../styles/mixins';

$red:             #951b21;
$light-gray:      #f1f3f1;




/*------------------------------------*\
  #General
\*------------------------------------*/


.site-container {
  margin: 0 10px;

  @include bp(645px) {
    margin: 0 auto;
  }
}

.more-link {
  margin-top: 1em;
}


/*------------------------------------*\
  #Site-Title
\*------------------------------------*/


.site-title {
  background-image: url(images/whisper-in-ear-3084.jpg);
  background-position: 0 85%;
  font-size: 130px;
  height: 2em;
  padding: 0;
}

.site-title a {
  line-height: 2em;
  padding: 10px 0;
  text-align: center;
  text-shadow: 1px 1px 1px $black;
}

.site-title a:hover {
  line-height: 2em;
}




/*------------------------------------*\
  #Primary-Navigation
\*------------------------------------*/


.nav-primary {
  border-bottom: 1px solid $border-color;
}



/*------------------------------------*\
  #Featured-Content
\*------------------------------------*/


.home .entry-title {
  margin-bottom: 0.25em;
}

.home .featured-content .entry {
    float: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.featured-content .entry-title {
    font-size: 36px;
    font-weight: 400;
    margin-top: 0;
    text-transform: none;
}

.featured-content .entry-header .entry-meta {
    background: transparent;
    color: $dark-gray;
    font-size: em(14);
    letter-spacing: 1px;
    line-height: em(20, 14);
    margin: 0 0 20px 0;
    max-width: none;
    overflow: auto;
    padding: 0;
    text-transform: uppercase;
}

.featured-content .entry-categories {
    display: inline-block;
}

.featured-content .entry-author,
.featured-content .entry-comments-link,
.featured-content .entry-time {
    margin-right: 1em;
}

.featured-content .entry-categories:before,
.featured-content .entry-time::before {
    color: $dark-gray;
    display: inline-block;
    font: normal 18px/1 'dashicons';
    margin-right: 5px;
    vertical-align: top;
    -webkit-font-smoothing: antialiased;
}

.featured-content .entry-time::before {
    content: '\f469';
}

.featured-content .entry-categories:before {
    content: '\f318';
}

.featured-content .entry-content img {
    width: 100%;
}

.featuredpost .widget-title {
    display: block;
}

.widget-title {
  background-color: $light-gray;
  color: $black;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 0 0 15px;
  padding: 5px 15px;
  text-transform: uppercase;
}

.home-top,
.home-middle,
.home-bottom {
    padding: 0;
}

.home-middle .featuredpost .entry {
	  float: left;

    @include bp($tablet) {
      width: 380px;
    }
}

.home-middle .featured-content .entry:nth-of-type(2n+1) {
    clear: left;
    margin-right: 40px;
}




/*------------------------------------*\
  #Sidebar-Widget
\*------------------------------------*/


a.alignleft img {
  margin: 0 10px 20px 0;
}

.sidebar .widget {
    margin-bottom: 30px;
    padding: 0;
}

.sidebar .widget-title {
  background-color: $red;
  color: $white;
}

.search-form input[type="search"] {
  background: $light-gray;
  color: $dark-gray;
  font-size: 1em;
  text-transform: none;
}

.sidebar .featured-content .entry {
  border-bottom: 1px dotted $border-color;
  margin-bottom: 30px;
}

.sidebar .featured-content .entry-title {
  font-size: 20px;
}

.sidebar .featured-content img {
  width: 100px;
}




/*------------------------------------*\
  #Twitter-Widget
\*------------------------------------*/


#twitter-widget-0 {
  margin: 0 auto !important;
  width: 100% !important;
}
