/*------------------------------------*\
  #WORDPRESS-STYLES
\*------------------------------------*/


.avatar {
  border: 1px solid $white;
  float: left;
}

.alignleft .avatar {
  margin-right: 24px;
}

.alignright .avatar {
  margin-left: 24px;
}

.search-form {
  overflow: hidden;
}

.genesis-nav-menu .search input[type="submit"],
.widget_search input[type="submit"] {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  padding: 0;
  position: absolute;
  width: 1px;
}

.search-form input[type="search"] {
  background: $white url(images/dist/icon-search.png) no-repeat right;
  background-size: 36px 16px;
  color: $dark-gray;
  font-size: 10px;
  margin-bottom: 10px;
  padding: 16px;
  text-transform: uppercase;
  width: 100%;
}

.wp-caption {
  margin: 0;
}

.wp-caption-text {
  font-size: em(12);
  line-height: 1.25em;
  margin-bottom: em(16, 12);
}

img.centered,
img.aligncenter,
figure.aligncenter {
  display: block;
  margin: 0 auto;
}

.aligncenter {
  text-align: center;
}

.alignright {
  text-align: right;
}

.alignleft {
  text-align: left;
}

img.alignright,
figure.alignright {
  float: right;
  margin: 0 0 1em 1em;
}

img.alignleft,
figure.alignleft {
  float: left;
  margin: 0 1em 1em 0;
}




/*------------------------------------*\
  #WORDPRESS-WIDGET
\*------------------------------------*/


.widget {
  word-wrap: break-word;
}

.widget li {
  list-style-type: none;
  margin-bottom: 6px;
  margin-top: 6px;
  text-align: left;
}

.widget ol > li {
  background-image: none;
  list-style-position: inside;
  list-style-type: decimal;
  padding-left: 20px;
  text-indent: -20px;
}

.widget ul > li {
  text-indent: 0;
}

.widget ul > li {
  list-style-position: outside;
  padding: 0 0 0 16px;
}

.widget ol > li:last-child,
.widget ul > li:last-child {
  margin-bottom: 0;
}

.widget_calendar table {
  width: 100%;
}

.widget_calendar td,
.widget_calendar th {
  text-align: center;
}

.widget_calendar caption {
  font-size: 12px;
  font-style: italic;
  padding: 2px 6px 0 0;
  text-align: right;
}




/*------------------------------------*\
  #GENESIS-STYLES
\*------------------------------------*/


.breadcrumb {
  background-color: $gray;
  color: $dark-gray;
  font-size: 12px;
  margin: -40px -60px 30px;
  padding: 20px;
}

.america-home .breadcrumb {
  margin: 0;
}

.archive-description,
.author-box {
  margin-bottom: 30px;
}

.author-box {
  background-color: $gray;
  padding: 30px;
}

.author-box-title {
  font-size: 16px;
  margin-bottom: 4px;
}

.author-box p {
  font-size: 14px;
  margin: 0;
}

.author-box .avatar {
  margin-right: 24px;
}

.pagination {
  margin-bottom: 3.125em;

  li {
    float: left;
  }
  a {
    border: 0;
    padding: 0.5em;
  }
}




/*------------------------------------*\
  #POST-ENTRIES
\*------------------------------------*/


.entry {
  margin-bottom: em(40);
}

.entry-content ol
.entry-content p,
.entry-content ul,
.quote-caption {
  margin-bottom: em(25);
}

.entry-content ol,
.entry-content ul {
  overflow: hidden;
}

.entry-content li {
  margin-left: em(40);
}

.entry-content li {
  list-style-type: disc;
}

.entry-content ol > li {
  list-style-type: decimal;
}

.entry-content ol ol,
.entry-content ul ul,
.entry-content .wp-caption p {
  margin-bottom: 0;
}

.entry-header .entry-meta,
.entry-header .entry-meta,
.entry-header .entry-meta,
.entry-header .entry-meta {
    background: transparent;
    color: $dark-gray;
    font-size: em(14);
    letter-spacing: 1px;
    line-height: em(20, 14);
    margin: 0 0 em(20, 14) 0;
    max-width: none;
    overflow: auto;
    padding: 0;
    text-transform: uppercase;
}

.entry-categories,
.entry-categories,
.entry-categories,
.entry-categories {
    display: inline-block;
}

.entry .entry-meta > * {
  margin-right: 1em;
}

.entry .entry-meta > *:before {
    color: $dark-gray;
    display: inline-block;
    font: normal em(18, 14)/1 'dashicons';
    margin-right: em(5, 14);
    vertical-align: top;
    -webkit-font-smoothing: antialiased;
}

.entry-time:before,
.entry-time:before,
.entry-time:before,
.entry-time:before {
    content: '\f469';
}

.entry-categories:before,
.entry-categories:before,
.entry-categories:before,
.entry-categories:before {
    content: '\f318';
}

.content .entry-header .entry-meta {
  margin-bottom: em(25, 14);
}

.content .entry-header .entry-meta .entry-comments-link {
  background-color: $body-link;
  color: $white;
  float: right;
  font-size: em(12);
  padding: 0 em(20, 12);
  text-transform: uppercase;
}

.content .entry-header .entry-meta .entry-comments-link a {
  background: url(images/dist/icon-comments.png) no-repeat left;
  background-size: em(16, 12) em(16, 12);
  color: $white;
  padding-left: em(32, 12);
}

.entry-footer .entry-meta {
  border-top: 1px dotted $gray;
  font-size: em(14);
  margin: 0;
  padding-top: em(10, 14);
}


/**
  * After entry widget.
  */

.after-entry {
  background-color: $gray;
  margin-bottom: em(30);
  padding: em(30);
  text-align: center;
}

.after-entry .widget {
  margin-bottom: em(30);
}

.after-entry .widget:last-child,
.after-entry p:last-child {
  margin: 0;
}

.after-entry li {
  list-style-type: none;
}




/*------------------------------------*\
  #SIDEBARS
\*------------------------------------*/


.sidebar {
  display: inline;
  font-size: 16px;
  padding-bottom: em(30);
}

.sidebar p {
  margin-bottom: 1em;
}

.sidebar p:last-child,
.sidebar ul {
  margin-bottom: 0;
}

.sidebar .widget {
  margin-bottom: em(50);
  word-wrap: break-word;
}

.search-form input[type="search"],
.sidebar input {
  color: $black;
  font-size: 1em;
  text-transform: none;
}

.sidebar .search-form {
  width: 100%;
}

.sidebar .featuredpost .entry {
  border-bottom: 1px dotted $border-color;
  clear: none;
  margin-bottom: em(30);
  overflow: visible;
  padding: 0;
  width: 100%;
}

.sidebar .featured-content .entry-title {
  font-size: em(20);
}

.sidebar .featured-content .entry-title a {
  display: inline-block;
  float: left;
}

.sidebar .featured-content .entry-image {
  display: inline-block;
  float: left;
  height: auto;
  margin: 0 1em 1em 0;
  width: em(100);
}




/*------------------------------------*\
  #SITE-HEADER
\*------------------------------------*/


.site-header {
  border-bottom: $border;
  margin: em(1) auto;
  min-height: 0;
  padding: em(10) 0 0;
  width: 100%;

  @include bp($tablet) {
    min-height: em(88);
    padding: em(20) 0;
  }
}


/**
  * Title area.
  */

.title-area {
  float: left;
  font-weight: 700;
  display: inline-block;
  overflow: hidden;
  width: 75%;

  @include bp($tablet) {
    display: block;
    width: 40%;
  }
}

.site-title {
  background: url(images/dist/dos-seal.png) 3% center no-repeat;
  background-size: 15%;
  font-family: $body-font;
  font-size: 25px;
  font-size: 7.5vw;
  margin: 0 0 em(5, 25);
  padding-left: em(30, 25);
  text-align: center;

  @include bp($big-mobile) {
    font-size: 25px;
    font-size: 6vw;
    background-size: 13%;
    padding-left: 18%;
    text-align: left;
  }

  @include bp($tablet) {
    background-position: left center;
    background-size: auto;
    font-size: 36px;
    line-height: 1.25;
    padding-left: em(100, 36);
  }
}

.site-title a,
.site-title a:hover {
  color: $black;
  display: block;
  line-height: 2em;
  text-decoration: none;

  @include bp($tablet) {
    line-height: em(88, 36);
  }
}


/**
  * Full width header. No widgets.
  */

.header-full-width .title-area,
.header-full-width .site-title {
  width: 100%;
}

.header-image .site-description,
.header-image .site-title a {
  display: block;
  text-indent: -9999px;
}

/**
  * Logo image. Hide text.
  */

.header-image .site-description,
.header-image .site-title a {
  display: block;
  text-indent: -9999px;
}

.header-image .title-area,
.header-image .site-title,
.header-image .site-title a {
  float: left;
  margin: 0;
  max-width: 260px;
  min-height: 100px;
  padding: 0;
  width: 100%;
}

.header-image .site-title a {
  background-size: contain !important;
}


/**
  * Site header widget area.
  */

.header-widget-area {
  float: right;
  width: 100%;

  @include bp($tablet) {
    width: 50%;
  }

  @include bp($desktop) {
    width: 60%;
  }
}

.header-widget-area {
  display: block;
}




/*------------------------------------*\
  #SITE-NAVIGATION
\*------------------------------------*/


.genesis-nav-menu {
  background-color: $white;
  clear: both;
  color: $black;
  font-size: 14px;
  line-height: 1.5em;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

.genesis-nav-menu .menu-item {
  display: inline-block;
  margin: 0;
  padding: 0;
  text-align: left;
}

.genesis-nav-menu a {
  color: $black;
  display: inline-block;
  padding: em(16, 14) em(20, 14);
  position: relative;
}

.genesis-nav-menu li:hover,
.genesis-nav-menu a:hover {
  background-color: $white;
  color: $black;
  text-decoration: none;
}

.genesis-nav-menu .current-menu-item > a {
  background-color: $body-link;
  color: $white;
}

.genesis-nav-menu .menu-item-language-current > a:after,
.genesis-nav-menu .menu-item-has-children > a:after {
  content: '\f140';
  display: inline-block;
  float: right;
  font: normal 20px/1 'dashicons';
  height: 20px;
  padding-right: 4px;
  position: relative;
  top: -3px;
  width: 20px;

  @include bp($tablet) {
    top: 0;
  }
}

.no-backgroundsize .genesis-nav-menu .menu-item-language-current > a:after,
.no-backgroundsize .genesis-nav-menu .menu-item-has-children > a:after {
  color: $black;
  top: 0;
}

.genesis-nav-menu .menu-item-language-current .submenu-languages a:after {
  content: '';
}

.genesis-nav-menu .sub-menu {
  left: -9999px;
  margin: 0;
  opacity: 0;
  padding: 0;
  position: absolute;
  -webkit-transition: opacity .4s ease-in-out;
  -moz-transition:    opacity .4s ease-in-out;
  -ms-transition:     opacity .4s ease-in-out;
  -o-transition:      opacity .4s ease-in-out;
  transition:         opacity .4s ease-in-out;
  width: 155px;
  z-index: 999;
}

.genesis-nav-menu .sub-menu a {
  background-color: $white;
  border: $border;
  border-top: none;
  color: $black;
  padding: 10px 18px;
  position: relative;
  width: 155px;
}

.genesis-nav-menu .sub-menu a:hover {
  background-color: $gray;
  color: $black;
}

.genesis-nav-menu .sub-menu .sub-menu {
  margin: -40px 0 0 147px;
}

.sub-menu .current-menu-item > a {
  border: 0;
}

.genesis-nav-menu .menu-item:hover {
  position: static;
}

.genesis-nav-menu .menu-item:hover > .sub-menu {
  left: auto;
  opacity: 1;
}

.genesis-nav-menu > .first > a {
  padding-left: 0;
}

.genesis-nav-menu > .last > a {
  padding-right: 0;
}

.genesis-nav-menu > .right {
  display: inline-block;
  float: right;
  list-style-type: none;
  padding: 16px 20px;
}

.genesis-nav-menu > .right > a {
  display: inline;
  padding: 0;
}

.genesis-nav-menu > .rss > a {
  background: url(images/dist/icon-rss.png) no-repeat left;
  background-size: 12px 12px;
  margin-left: 12px;
  padding-left: 16px;
}

.genesis-nav-menu > .twitter > a {
  background: url(images/dist/icon-twitter-nav.png) no-repeat left;
  background-size: 16px 16px;
  padding-left: 20px;
}

.genesis-nav-menu > .search {
  padding: 0;
}

.genesis-nav-menu .search-form {
  width: 100%;
}


/**
  * Site header navigation.
  */

.site-header .widget_nav_menu {
  padding: 0;
}

.site-header .genesis-nav-menu {
  float: right;
  width: auto;
}

.site-header .genesis-nav-menu a {
  font-size: em(16, 14);
  line-height: em(88, 14);
  padding: 0 em(18, 14);
}

.site-header .genesis-nav-menu .sub-menu a {
  @include bp($tablet) {
    padding: em(10, 14) em(18, 14);
    line-height: 1em;
  }
}

.site-header .sub-menu .sub-menu {
  margin-top: -40px;
}


/**
  * Primary navigation.
  */

.nav-primary {
  border-bottom: 1px solid $border-color;
  margin-bottom: 2em;
}


/**
  * Secondary navigation. // TODO: Do we need this?
  */

.nav-secondary .genesis-nav-menu li:hover,
.nav-secondary .genesis-nav-menu a:hover,
.nav-secondary .genesis-nav-menu li.current-menu-item a:hover {
  background-color: transparent;
  color: $black;
}

.nav-secondary .genesis-nav-menu .current-menu-item > a {
  background-color: transparent;
  color: $body-link;
}




/*------------------------------------*\
  #ARCHIVE-PAGE
\*------------------------------------*/


.archive .entry-footer .entry-meta,
.search .entry-footer .entry-meta {
  border-top: 0;
  padding: 0;
}

.search .post,
.archive .post {
  border-bottom: 1px solid $border-color;
  padding-bottom: 1em;
}

.format-video .video-watermark,
.category-video .video-watermark {
  background: url(images/dist/video.png) 0 0 no-repeat;
  background: url(images/dist/video.svgz) 0 0 no-repeat;
  background-size: em(50);
  height: em(50);
  margin: 0.5em;
  opacity: 0.85;
  position: absolute;
  width: em(50);
}

.archive .entry-image,
.blog .entry-image {
  width: 100%;

  @include bp($tablet) {
    width: auto;
    max-width: em(340);
  }
}

.archive .content p,
.blog .content p {
  clear: both;

  @include bp($tablet) {
    clear: none;
    overflow: hidden;
  }
}




/*------------------------------------*\
  #SITE-FOOTER
\*------------------------------------*/


.footer-widgets {
  background: #333;
  color: $white;
  font-size: 12px;
  line-height: 1.25em;
}

.site-footer a {
  color: $body-link;
}

.footer-widgets-1 {
  background: url(images/dist/shareamerica-flag.png) no-repeat 1em em(16, 12);
  padding: 1em 1em 1em 5em;

  @include bp($tablet) {
    border-bottom: 0;
  }
}

.footer-widgets-2 {
  background-color: $black;
  padding-left: 5em;
}

.footer-widgets .menu-item {
  display: inline-block;
  float: left;
  margin-right: 1em;
  padding: 0;
}




/*------------------------------------*\
  #HELPERS
\*------------------------------------*/


.hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}




/*------------------------------------*\
  #SHORTCODES
\*------------------------------------*/


/*
 * Responsive iframe embeds
 */

.media-container {
  margin-bottom: 1em;
  position: relative;

  &.ratio-16-9 {
    padding-bottom: 56.25%;
  }

  &.ratio-4-3 {
    padding-bottom: 75%;
  }

  iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &.chat {
    min-height: 300px;
  }
}


/**
  * Breakouts
  */

.breakout.alignright {
  float: right;
  margin: 0 0 1em 1em;
}

.breakout.alignleft {
  float: left;
  margin: 0 1em 1em 0;
}

.breakout.full-width {
  width: 100%;
}

.breakout {
  border: 1px solid $border-color;
  padding: 1em 1em 0 1em;
  width: 100%;

  @include bp($tablet) {
    width: 40%;
  }
}

.breakout-title {
  font-size: em(18, 16);
  margin-top: 0;
}

.breakout ul {
  margin-bottom: 0;
}

.breakout li {
  border-bottom: 1px solid $border-color;
  font-size: em(14);
  line-height: 1.25em;
  list-style-type: disc;
  margin: 0;
  padding: 1em 0;

  &:first-child {
    border-top: 1px solid $border-color;
  }

  &:last-child {
    border-bottom: 0;
  }
}

.shareline li {
  background: url(images/dist/icon-twitter.svgz) 0 50% no-repeat;
  background-size: em(26, 14) em(26, 14);
  line-height: 1.25em;
  list-style-type: none;
  padding: 1.25em 1.25em 1.25em 0;
}

.no-backgroundsize .shareline li {
  background: url(images/dist/icon-twitter.png) 0 50% no-repeat;
}

.shareline li a {
  color: $black;
  display: inline-block;
  padding-left: em(35, 14);

  &:hover {
    color: $black;
  }
}


/**
  * Blockquotes
  */

blockquote.default,
blockquote {
  font-size: 2em;
  font-style: oblique;
  line-height: 1.25em;
  padding: 1em;
  text-transform: uppercase;
}

.pull-quote {
  font-size: em(18);
  text-transform: none;
  width: 100%;
}

.pull-quote.alignright {
  text-align: center;

  @include bp($tablet) {
    float: right;
    margin: 0 0 1em 1em;
    padding: 1em 1em 0 0;
    width: 40%;
  }
}

.pull-quote.alignleft {
  text-align: center;

  @include bp($tablet) {
    float: left;
    margin: 0 1em 1em 0;
    padding: 1em 0 0 1em;
    width: 40%;
  }
}

.pull-quote::before,
.pull-quote::after {
  display: inline-block;
  font-size: 1em;
}

.pull-quote::before {
  content: "“";
  text-align: start;
}

.pull-quote::after {
  content: "”";
  text-align: end;
}

.box-quote {
  background-color: $gray;
  border-left: 3px solid $border-color;
  font-size: 1em;
  margin-bottom: 1em;
  text-align: center;
  text-transform: none;
  width: 100%;
}

.box-quote.alignright,
.box-quote.alignleft {
  @include bp($tablet) {
    padding: 1em;
    text-align: left;
    width: 40%;
  }
}

.box-quote.alignright {
  @include bp($tablet) {
    float: right;
    margin: 0 0 1em 1em;
  }
}

.box-quote.alignleft {
  @include bp($tablet) {
    float: left;
    margin: 0 1em 1em 0;
  }
}
