@import '../styles/variables';
@import '../styles/mixins';


/*------------------------------------*\
  #SITE-HEADER
\*------------------------------------*/


.site-header .widget {
  padding: 28px 0 0;
}

.site-header .header-widget-area {
  background-color: $mobile-nav;

  @include bp($tablet) {
    background: transparent;
  }
}

.genesis-nav-menu.responsive-menu a,
.genesis-nav-menu.responsive-menu li,
.genesis-nav-menu.responsive-menu a:hover,
.genesis-nav-menu.responsive-menu li:hover {
  color: $gray;
}




/*------------------------------------*\
  #FEATURED-CONTENT
\*------------------------------------*/


.featuredpost .entry {
  clear: right;
  float: left;
  overflow: hidden;
  padding: 0 2.8%;
  width: 20%;
}

.featuredpost .entry-title {
  font-size: 18px;
  word-wrap: normal;
}

.featured-content .entry {
  margin-bottom: 12px;
  padding: 0;
}

.america-home .featured-content .entry {
  margin-bottom: 36px;
}




/*------------------------------------*\
  #SINGLE-PUBLICATION
\*------------------------------------*/


.entry-categories,
.entry-publication-type,
.entry-tags {
  display: block;
}

.content .entry-header .entry-meta a {
  color: $black;
}




/*------------------------------------*\
  #ARCHIVE
\*------------------------------------*/

.archive .content {
    padding-top: 30px;
}


.archive .archive-title {
  font-size: 30px;
  overflow: hidden;
  position: relative;
  text-transform: none;

  @include bp($tablet) {
    font-size: 45px;
  }
}

.archive .archive-description:before {
    bottom: 0;
    left: 0;
    width: 100%;
}

.archive .archive-description {
    margin-bottom: 70px;
    padding: 150px 10px 0;
    position: relative;

    @include bp($tablet) {
      padding: 325px 50px 25px;
    }
}


/**
  * About America category page.
  */

.category-about-america .archive-description {
    background: url(images/about-america.jpg) 0 0 no-repeat;
    background-size: cover;
}


/**
  * Democracy category page.
  */

.category-democracy .archive-description {
    background: url(images/vote.jpg) center top no-repeat;
    background-size: cover;
}


/**
  * Development category page.
  */

.category-development .archive-description {
    background: url(images/development.jpg) center top no-repeat;
    background-size: cover;
}


/**
  * Education category page.
  */

.category-education .archive-description {
    background: url(images/education.jpg) center top no-repeat;
    background-size: cover;
}


/**
  * English category page.
  */

.category-english-learning .archive-description {
    background: url(images/english.jpg) center top no-repeat;
    background-size: cover;
}


/**
  * Entrepreneurship category page.
  */

.category-entrepreneurship .archive-description {
    background: url(images/entrepreneurship.jpg) center top no-repeat;
    background-size: cover;
}


/**
  * Environment category page.
  */

.category-environment .archive-description {
    background: url(images/environment.jpg) center top no-repeat;
    background-size: cover;
}


/**
  * Health category page.
  */

.category-health .archive-description {
    background: url(images/health.jpg) center top no-repeat;
    background-size: cover;
}


/**
  * Human rights category page.
  */

.category-human-rights .archive-description {
    background: url(images/human-rights.jpg) center top no-repeat;
    background-size: cover;
}


/**
  * Science & technology category page.
  */

.category-science-technology .archive-description {
    background: url(images/science-tech.jpg) center top no-repeat;
    background-size: cover;
}


/**
  * Visas category page.
  */

.category-visas .archive-description {
    background: url(images/visas.jpg) center top no-repeat;
    background-size: cover;
}


/**
  * Women & girls category page.
  */

.category-women-girls .archive-description {
    background: url(images/women-girls.jpg) center top no-repeat;
    background-size: cover;
}


/**
  * Books category page.
  */

.term-book .archive-description {
    background: url(images/books.jpg) center top no-repeat;
    background-size: cover;
}


/**
  * Pamphlets category page.
  */

.term-pamphlet .archive-description {
    background: url(images/pamphlets.jpg) center top no-repeat;
    background-size: cover;
}


/**
  * Search archive page.
  */

.search .archive-description {
  display: none;
  visibility: hidden;
}


/**
  * Returned archive results.
  */

.archive .publication {
  margin-bottom: em(30);
  padding: 0 3%;

  @include bp($big-mobile) {
    float: left;
    width: 50%;
  }

  @include bp($tablet) {
    width: 33%;
  }

  @include bp($laptop) {
    margin-bottom: 0;
    min-height: 450px;
    width: 25%;
  }
}

.archive .entry-title {
  font-size: 20px;
  line-height: 1.25em;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.archive .publication-featured-image img {
  min-width: 100%;
}


/**
  * Pagination.
  */

.archive-pagination {
  clear: both;
  font-size: 14px;
  padding: 30px 0;
}

.archive-pagination li {
  display: inline;
}

.archive-pagination li a {
  background-color: $body-link;
  border-radius: 5px;
  color: $white;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  line-height: 2;
  margin-bottom: 4px;
  padding: 8px 20px;
  text-decoration: none;
  text-transform: uppercase;
}

.archive-pagination li a:hover,
.archive-pagination li.active a {
  background-color: $body-link;
  text-decoration: none;
}
